* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

body {
  margin: 0px;
  padding: 0px;
}

@font-face {
  font-family: Inconsolata;
  src: url("../fonts/Inconsolata/Inconsolata-VariableFont_wdth\,wght.ttf");
}

@font-face {
  font-family: Lato;
  src: url('../fonts/Lato/Lato-Regular.ttf');
}

@font-face {
  font-family: Poppins-bold;
  src: url('../fonts/Poppins/Poppins-Bold.ttf');
}

@font-face {
  font-family: Poppins;
  src: url('../fonts/Poppins/Poppins-Light.ttf');
}

@font-face {
  font-family: Popins-italic;
  src: url('../fonts/Poppins/Poppins-Italic.ttf');
}

/* Header */

header {
  position: sticky;
  width: 100%;
  height: 5.3125rem;
  border-bottom: solid 1px #c6c1c1;
  background-color: rgba(219, 244, 247, 1);
}

header .content {
  display: flex;
  padding: 0rem;
  align-items: center;
  height: 100%;
}

header .logo {
  height: 5rem;
  display: flex;
  align-items: center;
  margin: 0rem 1rem;
}

header .logo img {
  height: 80%;
  border-radius: 2rem;
}

header .name {
  margin: 0rem 1rem;
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Inconsolata', sans-serif;
}

header .desktop {
  display: inline-block;
  margin: 0rem auto;
}

header .mobile {
  display: none;
}

header .desktop ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header ul {
  list-style-type: none;
}

header ul a {
  margin: 0rem 1rem;
  font-family: 'Lato';
  font-size: 1rem;
  line-height: 1.6;
  color: rgba(0,0,0,1);
  text-decoration: none;
}

header ul a:hover {
  color: rgba(0,0,0,0.5);
}

header ul a:active {
  font-size: 0.9rem;
}

@media only screen and (max-width: 920px) {

  header .desktop {
    display: none;
  }

  header .mobile {
    display: inline-block;
    margin: 0rem auto;
  }

  header .mobile ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

}
/* Main */

main {
  width: 100%;
}

/* Introduction Banner Section */

#Introduction {
  background-image: url('../images/hero/image7.png');
  height: 40rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
}

#Introduction .content {
  position: relative;
  top: 5rem;
  background-color: rgba( 0, 127, 255, 0.5);
  padding: 3rem;
  border: 0.1rem solid rgba( 0, 127, 255, 0.75);
  border-radius: 4rem;
  color: white;
}

#Introduction .content .bold {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  font-family: 'Poppins-bold', sans-serif;
}

#Introduction .content .cursive {
  font-size: 1.75rem;
  font-weight: normal;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

#Introduction .content .special {
  font-size: 1.75rem;
  font-weight: normal;
  text-align: center;
  font-family: 'Poppins-italic', sans-serif;
}
/* Benefits Section */

#Benefits {
  display: flex;
  justify-content: center;
  align-items: center;
}

.benefit-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(219, 244, 247, 1);
  height: 20rem;
  padding: 3rem 1rem 3rem 1rem;
  text-align: center
}

.benefit-box img {
  height: auto;
  max-width: 4rem;
  margin: 1rem auto;
}

.benefit-box h3 {
  font-size: 1.3rem;
  font-family: 'Poppins-bold', sans-serif;
  font-weight: bold;
}

.benefit-box p {
  width: 70%;
  font-family: 'Lato', sans-serif;
  text-align: stretch;
  line-height: 1.6;
}

/* SalesOnLine Section */

#SalesOnLine {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#SalesOnLine h2 {
  margin: 3rem auto 1rem auto;
  text-align: stretch;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: 'Inconsolata', sans-serif;
}

#SalesOnLine p {
  padding: 1rem 5rem;
  text-align: stretch;
  margin-top: 0rem;
  font-family: 'Lato', sans-serif;
  font-size: 1.25rem;
  text-align: stretch;
  line-height: 1.6;
  width: 85%;
}

#SalesOnLine h3 {
  background-color: rgba(0, 127, 255, 1);
  color: white;
  border-radius: 1rem;
  padding: 1rem 2rem;
  font-size: 2rem;
  text-align: center;
  font-family: 'Poppins-bold', sans-serif;
}

#SalesOnLine img {
  width: 100%;
  height: auto;
}

#sol-boxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.sol-box {
  background-color: rgba(219, 244, 247, 1);
  display: inline-flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

#challenges {
  flex-direction: row;
  background-color: white;
}

.text-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-container h4 {
  margin-bottom: 2rem;
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Poppins-bold', sans-serif;
  font-weight: bold;
}

.text-container p {
  width: 100%;
  font-size: 1rem;
  font-family: 'Lato', sans-serif;
  text-align: stretch;
  line-height: 1.6;
}

#SalesOnLine figure {
  max-width: 40%;
  height: auto;
}

/* Services Section */

#Services {
  height: 40rem;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.service-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 127, 255, 1);
  height: 90%;
  width: 33%;
  border-radius: 2rem;
  margin: 2rem 2rem;
}

.service-box h3 {
  text-align: center;
  font-size: 1.3rem;
  font-family: 'Poppins-bold', sans-serif;
  font-weight: bold;
  color: white;
}

.service-box p {
  width: 80%;
  height: 3rem;
  text-align: center;
  vertical-align: center;
  font-size: 1rem;
  font-family: 'Poppins-italic', sans-serif;
  color: white;
}

.service-box ul {
  width: 90%;
  height: 20rem;
  background-color: rgba(219, 244, 247, 1);
  border-radius: 2rem;
  padding: 2rem 1rem;
  list-style-type: none;
  font-size: 1rem;
  font-family: "Lato";
  text-align: stretch;
  vertical-align: center;
  overflow: scroll;
}

.service-box li {
  margin: 1rem auto ;
}

#Services .price {
  font-family: "Poppins-bold";
  font-size: 1.3rem;
  color: white;
}

/* How It Works Section */

#How-It-Works{
  background-color: azure;
}

.how-it-works {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem auto;
}

.how-it-works h3 {
  font-size: 2rem;
  text-align: center;
  font-family: 'Poppins-bold', sans-serif;
}
.how-it-works p {
  padding: 1rem 5rem;
  text-align: stretch;
  margin-top: 0rem;
  font-family: 'Lato', sans-serif;
  font-size: 1.25rem;
  text-align: stretch;
  line-height: 1.6;
  width: 85%;
}

/* Reserve Section */

#Reserve {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 3rem 5rem;
}

#Reserve .content {
  background-color: rgba(0, 127, 255, 1);
  min-height: 21rem;
  width: 60%;
  border-radius: 2rem;
}

#Reserve h3 {
  margin-top: 10%;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Poppins-bold', sans-serif;
  font-weight: bold;
  color: white;
}

#Reserve p {
  margin: 5% auto;
  width: 80%;
  max-height: 7rem;
  text-align: stretch;
  vertical-align: center;
  font-size: 1rem;
  font-family: 'Poppins-italic', sans-serif;
  line-height: 1.6;
  color: white;
  flex-shrink: 2;
  overflow: scroll;
}

#Reserve .button {
  margin: 0rem auto;
  display: flex;
  justify-content: center;
}

#Reserve button {
  background-color: white;
  padding: 0.5rem;
  border-radius: 1rem;
}

#Reserve button a:hover {
  color: rgba(0, 127, 255, 0.25);
}

#Reserve button a:active {
  font-size: 0.9rem;
}


#Reserve button a {
  text-decoration: none;
  font-family: 'Poppins-bold', sans-serif;
  font-size: 1rem;
  color: rgba(0, 127, 255, 1);
}

/* FAQ Section */

#FAQ {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
  background-color: background-color: rgba(0, 127, 255, 1);
}

#FAQ h2 {
  font-size: 2rem;
  text-align: center;
  font-family: 'Poppins-bold', sans-serif;s
}

#FAQ h3 {
  text-align: start;
  margin: 1rem 1rem;
  font-size: 1.3rem;
  font-family: 'Poppins-italic', sans-serif;
}

#FAQ p {
  text-align: start;
  margin: 1rem 2rem;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
}


/* Footer */

footer {
  background-color: rgba(0, 127, 255, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  height: 5rem;
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  word-spacing: 0.15rem;
}
